@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
h3 {
  color: white;
  background-color: black;
}

.content {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  height: 95vh;
  background-color: #4BB3FD;
}

#start, #restart {
  width: 90px;
  height: 50px;
  background: #E7E393;
}

#rules, ul {
  text-align: left;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#rules {
  font-weight: bold;
}

li {
  padding: 15px;
  list-style-type: none;
}

body {
  background-color: #00487C;
}

.game {
  display: flex;
  justify-content: center;
}

.player-score, .computer-score {
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  width: 700px;
  background: linear-gradient(0deg, #22c1c3 0%, rgba(253, 187, 45, 0.412202) 100%);
}

#player-round, #player-total, #computer-round, #computer-total {
  text-align: left;
}
