@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

$page_height: 95vh;
$page_weight: 80%;
$border_style: groove;
$image_width: 50px;
$image_height: 50px;

@mixin image-sizes($width, $height){
    width: $width;
    height:$height;	  
}

img{
    @include image-sizes($image_width, $image_height);
}


h3{
    color: white;
    background-color: black;
}

.content{
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    width: $page_weight;
    margin-left: auto;
    margin-right: auto;
    border-style: $border_style;
    height: $page_height;
    background-color: #4BB3FD;
}

#start, #restart, #play-again{
    width: 90px;
    height: 50px;
    background: #E7E393;
}


#rules, ul{ 
    text-align:left;
    width:1000px;
    margin-left:auto;
    margin-right:auto
}

#rules{
    font-weight: bold;
}

li{ 
    padding:15px;
    list-style-type: none;
}

body{
    background-color:  #00487C;
}

.game{
display:flex;
justify-content: center;
}

.player-score, .computer-score{
    border:1px black solid;
    padding:10px; 
    margin: 10px;
    width: 700px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.41220238095238093) 100%);
}

#player-round, #player-total, #player-output, #computer-output, #computer-round, #computer-total{
    text-align: left;
}

#pop-up{
    width:300px;
    padding:10px;
    background-color: rgb(223, 39, 39);
    color:white;
    border:solid 1px black;
    box-shadow:0px 0px 5px yellow, 5px 5px 5px black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    opacity:0;
    pointer-events: none;
}

#pop-up button{
    cursor:pointer;
    pointer-events: all;
}